/*Contact page*/

.contactContainer {

}

.contactTopContainer {
  height: 90vh;
  width: 100%;
  background-image: url(/assets/contactBackground.jpeg);
  background-size: cover;
  margin-bottom: 30px
}

.contactMiddleContainer {
  padding: 20px 20%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.contactInfo {
  display: flex;
  flex-direction: column;
  position: relative;
  bottom: 35px
}

.contactInfo i {
  padding: 10px;
}

.headShotContainer img {
  height: 350px;
  width: auto;

}
