/*Home page*/

.homeContainer {

}

.homeTopContainer {
  height: auto;
  width: 100%;
  background-image: url(https://images.unsplash.com/photo-1414690165279-49ab0a9a7e66?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=e6da171be370444eabceb9525e424627);
  background-size: cover;

}

.taglineContainer {
  height: auto;

}

.taglineContainer i {
  text-align: center;
  font-size: 20px;

}

.tagline {
  font-family: 'Monoton', cursive;
  font-size: 100px;
  text-align: center;
  color: #ffffff;
  padding: 80px 0px;

}

.introContainer {
  width: 100%;
  padding: 40px;

}

.intro {
  text-align: center;
  flex-grow: 1;
}


.wordpressContainer {
  height: auto;
  width: 100%;
  text-align: center;
}


.wordpressContainer i {
  font-size: 245px;
  padding: 30px;
}
